langchain==0.1.20
langchain-community==0.0.38
llama-index==0.10.38
llama-parse==0.4.0
pypdf==4.2.0
whisper-openai==20231117
yt-dlp==2024.4.9
chromadb==0.4.24
ollama==0.1.9
streamlit==1.33.0
python-dotenv==1.0.1
